@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#header {
  background-color: #233d53;
  text-align: center;
  padding: 24px 0 12px 0;
}

#site-logo {
  width: 8%;
}

#main-content {
  padding: 40px;
  display: flex;
}

#smartwatch-skin {
  width: 500px;
}

#time-block {
  text-align: center;
  width: 10%;
  position: absolute;
  top: 350px;
  left: 220px;
  color: white;
  font-size: 24px;
}

#heartbeat {
  font-size: 30px;
  margin-bottom: 0;
  position: relative;
  top: -55px;
  color: red;
  display: none;
}

#num-rate {
  margin-top: 0;
  position: relative;
  top: -50px;
  display: none;
}

/* Section Tag */
#watch-heading {
  font-size: 35px;
  margin-bottom: 0;
}

#description {
  margin-top: 5px;
  font-size: 15px;
  width: 70%;
}

#color-block {
  display: flex;
}

#black {
  background: #23211f;
}

#red {
  background-color: #ca3d22;
}

#blue {
  background-color: #565681;
}

#pink {
  background-color: #e9c7be;
}

#purple {
  background-color: #8a5362;
}

#btn-buynow {
  background-color: rgb(255, 136, 0);
  border-radius: 4px;
  border: none;
  padding: 10px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 500;
  cursor: pointer;
}

#btn-buynow:hover {
  transform: scale(1.1);
}

.col-block {
  padding: 18px 24px;
  margin-right: 16px;
  border-radius: 4px;
  border: 1px solid #23211f;
}

.feature-class {
  background-color: rgb(226, 225, 225);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
  cursor: pointer;
}

.feature-class:hover {
  background-color: #ccc;
}

@media(max-width: 1024px) {
  #time-block {
    width: 15%;
    top: 340px;
    left: 215px;
  }

  #site-logo {
    width: 10%;
  }

  #description {
    width: 80%;
  }
}

@media(max-width: 768px) {
  #main-content {
    flex-direction: column;
  }

  #site-logo {
    width: 12%;
  }

  #img-time-block {
    width: 100%;
    text-align: center;
  }

  #time-block {
    top: 350px;
    left: 320px;
  }
}

@media(min-width: 768px) {
  #heartbeat {
    font-size: 40px;
  }

  #num-rate {
    font-size: 30px;
  }
}

@media(max-width: 425px) {
  #main-content {
    padding: 24px;
  }

  #site-logo {
    width: 16%;
  }

  #watch-heading {
    margin-top: 0;
  }

  #smartwatch-skin {
    width: 380px;
  }

  #time-block {
    width: 25%;
    top: 265px;
    left: 160px;
  }
}

@media(max-width: 375px) {
  #main-content {
    padding: 18px;
  }

  #site-logo {
    width: 18%;
  }

  #watch-heading {
    font-size: 30px;
    margin-top: 0;
  }

  #description {
    width: 100%;
  }

  #smartwatch-skin {
    width: 355px;
  }

  #time-block {
    width: 30%;
    top: 245px;
    left: 140px;
  }
}

@media(max-width: 320px) {
  #main-content {
    padding: 10px;
  }

  #site-logo {
    width: 22%;
  }

  #smartwatch-skin {
    width: 310px;
  }

  #time-block {
    width: 35%;
    font-size: 22px;
    top: 220px;
    left: 110px;
  }

  #color-block {
    padding-right: 20px;
  }

  #watch-heading {
    font-size: 25px;
  }

  .col-block {
    margin-right: 10px;
  }
}