body {
  margin: 0;
  overflow: hidden;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

#header {
  width: 100%;
  background-color: #233d53;
  text-align: center;
  padding: 10px;
}

#site-logo {
  width: 120px;
  margin-top: 14px;
}

#main-content {
  display: flex;
  width: 70%;
  height: 100vh;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}

#time-block {
  position: absolute;
  top: 285px;
  left: 345px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 23px;
}

#smartwatch-skin {
  width: 400px;
}

#heartbeat {
  color: red;
  font-size: 45px;
  position: absolute;
  top: 260px;
  left: 385px;
  display: none;
}

#num-rate {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 290px;
  left: 390px;
  color: white;
  display: none;
}

#watch-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 38px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

#description {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 98, 98);
  font-size: 14px;
}

#color-block {
  display: flex;
}

#black {
  background: #23211f;
}

#red {
  background-color: #ca3d22;
}

#blue {
  background-color: #565681;
}

#pink {
  background-color: #e9c7be;
}

#purple {
  background-color: #8a5362;
}

#heart-rate {
  margin-left: 8px;
}

#btn-buynow {
  background-color: rgb(255, 136, 0);
  margin-top: 24px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.col-block {
  width: 50px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 16px;
}

.feature-class {
  background-color: rgb(226, 225, 225);
  padding: 10px 16px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 15px;
  cursor: pointer;
}




@media(max-width: 1024px) {
  #time-block {
    position: absolute;
    left: 295px;
  }

  #heartbeat {
    position: absolute;
    left: 335px;
  }

  #num-rate {
    position: absolute;
    left: 340px;
  }
}

@media(max-width: 768px) {
  #main-content {
    width: 100%;
  }

  #time-block {
    position: absolute;
    top: 270px;
    left: 145px;
  }

  #heartbeat {
    position: absolute;
    top: 240px;
    left: 180px;
  }

  #num-rate {
    position: absolute;
    top: 270px;
    left: 185px;
  }
}

@media(max-width: 600px) {
  #main-content {
    width: 100%;
    flex-direction: column;
    /* overflow: hidden; */
  }

  #header {
    box-sizing: border-box;
  }

  #left-side {
    text-align: center;
    width: 100%;
  }

  #watch-desc {
    width: 100%;
  }

  #time-block {
    position: absolute;
    top: 270px;
    left: 240px;
  }

  #heartbeat {
    position: absolute;
    top: 240px;
    left: 280px;
  }

  #num-rate {
    position: absolute;
    top: 270px;
    left: 285px;
  }
}

@media(max-width: 425px) {
  #main-content {
    width: 95%;
  }

  #header {
    box-sizing: border-box;
  }

  #left-side {
    width: 100%;
  }

  #watch-desc {
    width: 100%;
  }

  #time-block {
    position: absolute;
    top: 270px;
    left: 155px;
  }

  #heartbeat {
    position: absolute;
    top: 240px;
    left: 190px;
  }

  #num-rate {
    position: absolute;
    top: 270px;
    left: 195px;
  }
}

@media(max-width: 375px) {
  #header {
    box-sizing: unset;
    padding-right: 69.5px;
  }

  #smartwatch-skin {
    text-align: center;
  }
 
  #main-content {
    width: 100%;
    padding-right: 79.5px;
  }

  #left-side {
    width: 100%;
    /* padding-right: 80px; */
  }

  #watch-desc {
    width: 100%;
    padding-left: 16px;
  }

  #time-block {
    position: absolute;
    left: 140px;
  }

  #heartbeat {
    position: absolute;
    left: 175px;
  }

  #num-rate {
    position: absolute;
    left: 180px;
  }
}



/* This contains a web page built with HTML, CSS and JavaScript. It simulates a smart watch, displays time and heart rate. */